/* CSS Global Variables */
:root {
  --text-color: #000000; 
  --main-color: #3486eb;
  --background-color: #efefef;
}

/* Custom fonts declarations */
@font-face {
    font-family: "LibreFranklin";
    src: url("../fonts/LibreFranklin-VariableFont_wght.ttf");
  }

* {
    box-sizing: border-box;
}
html, body {
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "LibreFranklin", Helvetica, Arial, Sans-Serif;
    color: var(--text-color);
    background-color: var(--background-color);
}
.header { 
    text-align: center; 
    }
.logo { 
    font-size: 24px; font-weight: bold;
} 
.nav { 
    display: flex;
    justify-content: center;
}
.nav div { 
    margin: 0 10px;
}
.footer {
    margin-top: auto;
}

/* ============================== */
/* Utility Classes                */
/* ============================== */

:root {
  --xs: 5px;
  --sm: 10px;
  --md: 20px;
  --lg: 30px;
}
.margin-xs { margin: var(--xs); }
.margin-sm { margin: var(--sm); }
.margin-md { margin: var(--md); }
.margin-lg { margin: var(--lg); }
.margin-top-xs { margin-top: var(--xs); }
.margin-top-sm { margin-top: var(--sm); }
.margin-top-md { margin-top: var(--md); }
.margin-top-lg { margin-top: var(--lg); }
.margin-right-xs { margin-right: var(--xs); }
.margin-right-sm { margin-right: var(--sm); }
.margin-right-md { margin-right: var(--md); }
.margin-right-lg { margin-right: var(--lg); }
.margin-bottom-xs { margin-bottom: var(--xs); }
.margin-bottom-sm { margin-bottom: var(--sm); }
.margin-bottom-md { margin-bottom: var(--md); }
.margin-bottom-lg { margin-bottom: var(--lg); }
.margin-left-xs { margin-left: var(--xs); }
.margin-left-sm { margin-left: var(--sm); }
.margin-left-md { margin-left: var(--md); }
.margin-left-lg { margin-left: var(--lg); }

.padding-xs { padding: var(--xs); }
.padding-sm { padding: var(--sm); }
.padding-md { padding: var(--md); }
.padding-lg { padding: var(--lg); }
.padding-top-xs { padding-top: var(--xs); }
.padding-top-sm { padding-top: var(--sm); }
.padding-top-md { padding-top: var(--md); }
.padding-top-lg { padding-top: var(--lg); }
.padding-right-xs { padding-right: var(--xs); }
.padding-right-sm { padding-right: var(--sm); }
.padding-right-md { padding-right: var(--md); }
.padding-right-lg { padding-right: var(--lg); }
.padding-bottom-xs { padding-bottom: var(--xs); }
.padding-bottom-sm { padding-bottom: var(--sm); }
.padding-bottom-md { padding-bottom: var(--md); }
.padding-bottom-lg { padding-bottom: var(--lg); }
.padding-left-xs { padding-left: var(--xs); }
.padding-left-sm { padding-left: var(--sm); }
.padding-left-md { padding-left: var(--md); }
.padding-left-lg { padding-left: var(--lg); }


/* ============================== */
/* Image Grid                     */
/* ============================== */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create equal columns that sits next to each other */
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 2px;
    vertical-align: middle;
    width: 100%;
}

#image-grid { 
  text-align:center; 
  max-width:600px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#image-grid .item {
  margin-bottom: 5px;
}
.item .details {
  display: none;
}

/* ============================== */
/* Modal                          */
/* ============================== */

.modal {
    display: none; 
    position: fixed; 
    z-index: 99; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    width: 95%;
    max-width:800px;
}

.modal-content .image-container img {
  max-width:100%;
  max-height:100%;  
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ============================== */
/* Nav Hover Effect               */
/* ============================== */

.nav-hover {
  --s: 0.1em;   /* the thickness of the line */
  --c: #1095c1; /* the color */
  
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--main-color) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--main-color) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
.nav-hover:hover {
  --_p: 100%
}